

@font-family: 'Roboto Mono';
@font-family: 'Roboto', sans-serif;

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
}

body {
    /*margin: 0;*/
    /*min-width: 900px;*/
    margin: 0 !important;
    padding: 0 !important;
    -webkit-font-smoothing: antialiased;
}

.aboutbox {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: -475;
    width: 475px;
    height: 100%;
    background-color: #fff;
    z-index: 200;
    padding: 35px 50px 10px 40px;
     font-size: 18px;
    line-height: 25px;
    font-family: Arial, helvetica, arial, sans-serif;
    font-weight: normal;
}

.imagecaption {
    font-family: Roboto Mono;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
}

.aboutbox a {
    color: #404040;
}

.aboutbox a:hover {
    color: #de1224;
}

.header.about {
    cursor: pointer;

}

.header.title {
    cursor: default;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.introduction {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    z-index: 1;
    cursor: default;
}

.introduction-close {
    color: #fff;
    border-bottom: 1px solid white;
    /*cursor: pointer;*/
}

.introduction-close:hover {
    /*color: #;*/
    cursor: pointer;
    text-shadow: 0px 0px 30px #fff;
    transition: text-shadow 1.5s ease;
}

.introduction-text {
    /*display: none;*/
    position: absolute;
    left: 50%;
    margin-left: -425px;
    top: 25%;
    width: 850px;
    font-size: 50px;
    line-height: 55px;
    font-family: Arial, helvetica, arial, sans-serif;
    font-weight: normal;
}

.header {
    font-family: Roboto Mono, helvetica;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #888;
    font-size: 10px;
    text-transform: uppercase;
    z-index: 500;
}

.title {
    position: absolute;
    top: 12px;
    left: 10px;
}

.about {
    position: absolute;
    right: 10px;
    top: 12px;
}

.viewer {
    position: relative;
    top: 30px;
    width: calc(100% - 20px);
    height: calc(100% - 160px);
    margin: 0 auto;
    background: #000;
    background-color: #000;
    background-image: url(  );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
}

.viewer-previous {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    /*background-color: #f0f;*/
    cursor: url(../images/figure-left.png) 14 35, auto;
}

.viewer-next {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    /*background-color: #ff0;*/
    cursor: url(../images/figure-right.png) 14 35, auto;
}

.content {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 10px 0px 10px;
    height: 130px;
    bottom: 0px;
    z-index: 100;
    /*background-color: #0f0;*/
}

.index {
    background-color: #000;
    float: left;
    font-size: 20px;
    color: white;
    outline: none;
    text-align: center;
    overflow: hidden;
}

.index br{
    display: none
}

.index::selection {
    background: #ff2100;
    color: #000;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}

.caption {
    display: inline-block;
    height: 100px;
    float: left;
    margin: 0 0 0 20px;
    line-height: 100px;
    font-family: Arial, helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: #fff;
}

.nocaption {
    color: #404040;
}

.navigation {
    font-family: arial, helvetica;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    line-height: 100px;
    text-align: center;
    float: right;
    margin: 0 0 0 10px;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hover {
    cursor: pointer;
    background-color: #000;
    border: 1px solid #de1224;
    color: #de1224;
}

.hoverindex {
    border: 1px solid #ff2100;
    color: #ff2100;
    box-shadow: 0 0 1px 0px #ff2100 inset, 0 0 1px 0px #ff2100;
}

.active {
    background-color: #000;
    border: 1px solid #de1224;
    color: #de1224;
}

/*Prevents arrows from showing on the input box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

    /*content: url(../images/pipe-1.jpg) url(../images/pipe-2.jpg) url(../images/pipe-3.jpg) url(../images/pipe-4.jpg);*/


@media only screen and (min-width: 800px) {
    .introduction {
        display: none;
    }
}